.body {
  margin-top: -2em;
  margin-left: 6em;
  padding: 2em;
  border-radius: 5px;
  height: 100%;
  width: 22em;
  font-weight:200;
  background-color: #ffffff;
}

ul {
  padding-top: 2em;
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button_a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.a {
  padding: 20px;
  text-decoration: none;
  color: black;
  width:7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemstext {
  text-align: center;
}

.fillicon{
  color:var(--color-primary);
  font-size: 2em;
  margin: 10px;
}

.button{
  padding: 12px;
  background-color: var(--color-primary);
  color:var(--color-white);
  border: none;
  border-radius:4px;

  
}

.buttonIcons{
  font-size: 1em;
  margin:0 10px;

}
.buttoncontainer{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
