.ck-editor {
  height: 500px;
}
.textarea {
  margin-top: 5vh;
}

.img {
  width: 50px;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
