body {
  background: url(../background.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parentContainer {
  margin-bottom: 100px;
  border-radius: 2%;
  background-color: #00a4e4ae;
  margin-top: 15%;
  height: 28rem;
  width: 20rem;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  /* margin: auto; */
  text-align: center;
  position: absolute;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 21rem;
  width: 20rem;
}

.wetherCondition{
  color: aliceblue;
  text-align: center;
  left: 0px;
  font-weight: bold;
  font-size: medium;
}

.locationName {
  color: aliceblue;
  text-align: center;
  left: 0px;
  font-weight: bold;
  font-size: medium;
}

.wetherIcon {
  width: 8rem;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.currentTemp {
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
}
