@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F2F2F2;
  font-family: var(--font-primary);
}
:root {
  --color-primary: #4f25ce;
  --color-white: #ffffff;
  --color-black: #000000;
  --text-color: var(--color-white);
  --font-primary: 'Ubuntu', sans-serif;
}
